.abilities-container {
    width: 100%;
    height: auto;
    background: #ffffff;
    padding: 50px 0;
    grid-area: abilities;
}

.abilities {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.abilities .grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        "skills skills interests interests"
        ". languages languages ."
    ;
}

.skills {
    grid-area: skills;
    /*background: red;*/
}

.languages {
    grid-area: languages;
    /*background: green;*/
}

.interests {
    grid-area: interests;
    /*background: grey;*/
}

.skills ul, .interests ul, .languages ul {
    color: #2c3e50;
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

.skills ul li, .interests ul li, .languages ul li {
    background: #EDF0FC;
    font-size: 20px;
    width: 80%;
    border-left: 5px solid #32A9A4;
    /*margin-bottom: 10px;*/
    margin: 10px auto;
    padding: 5px 10px 5px 10px;
}