.educations-container {
    width: 100%;
    height: auto;
    background: #DFF9FB;
    padding: 50px 0;
    grid-area: educations;
}

.educations-container .educations {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.educations .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    margin: 50px 0;
}

.educations p {
    color: #32A9A4;
}
