.footer-container {
    width: 100%;
    height: auto;
    background: #323b40;
    grid-area: footer;
}

.footer {
    text-align: center;
    width: 80%;
    margin: 20px auto;
}

.footer .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "left right"
    ;
}

.footer .left-side p {
    position: relative;
    top: 50%;
    text-transform: uppercase;
    font-size: 25px;
    transform: translateY(-50%);
    margin: 0;
    color: #ffffff;
}
