.header-container {
    width: 100%;
    height: 100vh;
    grid-area: header;
}

.header-container .header {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    max-width: 50%;
    height: auto;
}
