* {
    font-family: Arial, Helvetica, sans-serif;
}
.more {
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}
@media (min-width: 992px) {
    .right-side {
        max-height: 100vh;
        overflow-y: auto;
    }
    .more {
        display: none;
    }
}
.icon {
    font-size: 26px;
    margin: 5px;
}
.links a {
    color: #A2A2A2;
}
.links a:nth-child(1):hover, .links a:nth-child(3):hover {
    color: #007bff;
}
.links a:nth-child(2):hover {
    color: #343a40;
}
#link i {
    animation-name: animate;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}
@keyframes animate {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}