* {
    font-family: "Open Sans",serif;
}
body {
    overflow-y: hidden;
}
header {
    height: 100vh;
    min-height: 100vh;
}
.bg-light-cyan {
    background: #DFF9FB;
}
.card-img-overlay {
    display: none;
    transition: all 0.3s ease-in-out;
}
.card:hover .card-img-overlay {
    display: block;
}
.card:hover .card-img {
    opacity: 0;
}

footer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5) inset;
}

.background-image {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../image/background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
}

.loader-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #b2bec3, #dfe6e9);
    z-index: 1000;
}

.loader-container div {
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.loader {
    border: 16px solid #f3f3f3;
    border-top-color: #2f3640;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
}

#loading {
    text-align: center;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.social {
    width: 100%;
    text-align: center;
}

.buttons {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}

footer .social .buttons {
    width: 70px;
    height: 70px;
    margin: 0 10px;
}

footer .social .buttons i {
    line-height: 70px;
}

.buttons i {
    line-height: 90px;
    font-size: 35px;
    transition: 0.2s linear;
}

.buttons:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.buttons::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.buttons:hover::before {
    animation: animation 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes animation {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}

@media (max-width: 800px) {
    .social .buttons, footer .social .buttons {
        width: 60px;
        height: 60px;
        margin: 5px;
    }

    .social .buttons i, footer .social .buttons i {
        line-height: 60px;
        font-size: 30px;
    }
}