body {
    overflow: hidden;
}

.loader-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #b2bec3, #dfe6e9);
    z-index: 2;
}

.loader-container div {
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.loader {
    border: 16px solid #f3f3f3;
    border-top-color: #2f3640;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
}

#loading {
    text-align: center;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}