@media (max-width: 1000px) {
    .heading1 {
        font-size: 40px;
    }

    .heading2 {
        font-size: 30px;
    }

    .heading3 {
        font-size: 20px;
    }
    .paragraph1 {
        font-size: 18px;
    }

    .paragraph1 {
        font-size: 16px;
    }

    .header-container .header {
        width: 80%;
        max-width: 80%;
    }

    .social .btn {
        width: 70px;
        height: 70px;
    }

    .social .btn i {
        line-height: 70px;
    }

    .profile .grid-container {
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
        grid-template-areas:
            "about"
            "details"
        ;
    }

    .educations .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas:
                "left"
                "right"
    ;
    }

    .abilities .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas:
                "skills"
                "interests"
                "languages"
    ;
    }

    .projects .grid-container {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        grid-template-areas:
                "one"
                "two"
                "three"
    ;
    }

    .project {
        width: 50%;
        min-width: 250px;
        margin: 0 auto;
    }

    .footer .grid-container {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        grid-template-areas:
                "left"
                "right"
    ;
    }
}