.profile-container {
    width: 100%;
    height: auto;
    background: #ffffff;
    padding: 50px 0;
    grid-area: profile;
}

.profile-container .profile {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.profile .grid-container {
    margin: 20px 0 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
    grid-template-areas: "about details";
}

.about-container {
    grid-area: about;
}

.img-container {
    grid-area: img;
}

.img-container img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.info-container {
    grid-area: details;
}