.projects-container {
    width: 100%;
    height: auto;
    background: #DFF9FB;
    padding: 50px 0;
    grid-area: projects;
}

.projects-container .projects {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.projects .grid-container {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-areas:
        "one two three"
    ;
}

.project {
    height: 200px;
    width: 90%;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
}

.projects p {
    color: #32A9A4;
}

.one {
    grid-area: one;
    background-image: url("../image/one.png");
}

.two {
    grid-area: two;
    background-image: url("../image/two.png");
}

.three {
    grid-area: three;
    background-image: url("../image/three.png");
}

.project p {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
    color: #fff;
}

.link {
    display: block;
    width: 220px;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 18px;
    margin: 10px auto;
    padding: 15px 20px;
    border: 2px solid #000;
    transition: all 0.2s ease-in-out;
}

.small {
    width: auto;
    max-width: 150px;
    color: #fff;
    border-color: #fff;
}

.none {
    visibility: hidden;
}

.hidden {
    display: none;
}

.one:hover, .one:active {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/one.png");
    background-size: cover;
}

.two:hover, .two:active {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/two.png");
    background-size: cover;
    background-position: center bottom;
}

.three:hover, .three:active {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/three.png");
    background-size: cover;
    background-position: center bottom;
}

.project:hover .hidden, .project:active {
    display: block;
}

.link:hover, .link:active {
    background: #000;
    color: #fff;
    border-color: #000;
}