* {
    font-family: "Georgia" ,serif;
}

kbd {
    background: #f8f9fa;
    color: #343a40;
    margin: 0 5px;
}

@media (min-width: 800px) {
    p, li {
        font-size: 20px;
    }
}
@media (max-width: 800px) {
    .header {
        font-size: 33px;
    }
}

.bg-costume-dark {
    background: #222831;
}

.bg-costume-darker {
    background: #13171D;
}

.card-img-overlay {
    display: none;
    transition: all 0.3s ease-in-out;
}

.card:hover .card-img-overlay {
    display: block;
    animation: card-animation 0.5s ease-in-out;
}

.card:hover .card-img {
    opacity: 0;
}

@keyframes card-animation {
    from {
        margin-top: 100px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

footer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5) inset;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}