* {
    font-family: "Georgia" ,serif;
}
@media (max-width: 800px) {
    .header {
        font-size: 33px;
    }
}
.icon {
    font-size: 26px;
    margin: 5px;
}
.link-hide {
    opacity: 0;
}
.vh-80 {
    height:90vh!important;
}
#link i {
    animation-name: animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes animate {
    0% {opacity: 1;}
    10% {opacity: .8;}
    20% {opacity: .6;}
    30% {opacity: .4;}
    40% {opacity: .2;}
    50% {opacity: 0;}
    60% {opacity: .2;}
    70% {opacity: .4;}
    80% {opacity: .6;}
    90% {opacity: .8;}
    100% {opacity: 1;}
}
.divider {
    border-top: 2px solid #555;
    width: auto;
}
.bg-costume-dark {
    background: #222831;
}
.bg-costume-darker {
    background: #13171D;
}
.card-img-overlay {
    display: none;
    transition: all 0.3s ease-in-out;
}
.card:hover .card-img-overlay {
    display: block;
    animation: card-animation 0.5s ease-in-out;
}
.card:hover .card-img {
    opacity: 0;
}
@keyframes card-animation {
    from {
        margin-top: 100px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}
footer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5) inset;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}