* {
    font-family: Arial, Helvetica, sans-serif;
}
.more {
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}
@media (min-width: 992px) {
    .right-side {
        max-height: 100vh;
        overflow-y: auto;
    }
    .more {
        display: none;
    }
}
.icon {
    font-size: 26px;
    margin: 5px;
}
.font-20 {
    font-size: 20px !important;
}
.font-18 {
    font-size: 18px !important;
}
.links a {
    color: #A2A2A2;
}
.links a:nth-child(1):hover, .links a:nth-child(3):hover {
    color: #007bff;
}
.links a:nth-child(2):hover {
    color: #343a40;
}
#link i {
    background-color: black !important;
    animation-name: animate;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}
@keyframes animate {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}
.arrows path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}
@keyframes arrow {
    0% {opacity: 0}
    40% {opacity: 1}
    80% {opacity: 0}
    100% {opacity: 0}
}
@-webkit-keyframes arrow /*Safari and Chrome*/
{
    0% {opacity: 0}
    40% {opacity: 1}
    80% {opacity: 0}
    100% {opacity: 0}
}
.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s; /* Safari Chrome */
}
.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s; /* Safari Chrome */
}
.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s; /* Safari Chrome */
}
.animate:active {
    transform: translate(0, 5px) !important;
    -webkit-transform: translate(0, 5px) !important;
    transition: all 0.1s !important;
    -webkit-transition: all 0.1s !important;
}
