@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
* {
    font-family: 'Nunito', Helvetica, sans-serif;
}
@media (min-width: 992px) {
    .right-side {
        max-height: 100vh;
        overflow-y: auto;
    }
    .more {
        display: none;
    }
}
.icon {
    font-size: 26px;
    margin: 5px;
}
.font-20 {
    font-size: 20px !important;
}
.font-18 {
    font-size: 18px !important;
}
.links a {
    color: #A2A2A2;
}
.links a:nth-child(1):hover, .links a:nth-child(3):hover {
    color: #007bff;
}
.links a:nth-child(2):hover {
    color: #343a40;
}
