@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

* {
    font-family: "Nunito", Helvetica, sans-serif;
}

blockquote {
    padding: .625rem 1.25rem;
    font-size: 1.063rem;
    border-left: 0.313rem solid #6c757d;
}
