#loader {
    border: 0.813rem solid #f3f3f3;
    border-radius: 50%;
    border-top: 0.813rem solid #3498db;
    width: 7.5rem;
    height: 7.5rem;
    margin: 1.25rem auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
