.preview {
    background: rgba(214, 214, 214, .4);
    
    & > div {
        z-index: 1 !important;
        
        p {
            line-height: 1.75;
            font-size: 1.2rem;
        }
    }
}

.links {
    a {
        color: #a2a2a2;
        margin: 0 1rem;
        
        em {
            font-size: 1.625rem;
            margin: .313rem;
        }
        
        &:nth-child(1):hover, &:nth-child(3):hover {
            color: #007bff;
        }
        
        &:nth-child(2):hover {
            color: #343a40;
        }
        
        &:nth-child(4):hover {
            color: #ff0200;
        }
    }
}

.bg-main {
    background: #d6d6d6 !important;
}

.PHP {
    color: #4f5d95;
}

.HTML {
    color: #e34d27;
}

.JavaScript {
    color: #f1e05a;
}

.Python {
    color: #3672a5;
}

.Java {
    color: #b07219;
}

.CSS {
    color: #563d7c;
}

.Shell {
    color: #89e051;
}

.Dockerfile {
    color: #384d54;
}

.rounded-custom {
    border-radius: 12px !important;
}

.MuiChip-label {
    font-size: 1rem;
}

.MuiButton-label {
    color: white;
}

.MuiIconButton-root {
    outline: none !important;
    margin-left: .25rem !important;
}

@media (min-width: map_get($grid-breakpoints, lg)) {
    .right-side {
        max-height: 100vh;
        overflow-y: auto;
    }
}

@media (max-width: map_get($grid-breakpoints, lg)) {
    .card-size {
        width: 80vw !important;
        max-width: 80vw !important;
    }
}

@media (max-width: map_get($grid-breakpoints, sm)) {
    .btn-visit {
        width: 100%;
    }
}
