@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
    font-family: 'Nunito', Helvetica, sans-serif;
}

blockquote {
    padding: 0.625rem 1.25rem;
    font-size: 1.063rem;
    border-left: 0.313rem solid #6c757d;
}

html {
    background: rgba(214, 214, 214, 0.4);
}

.card-body {
    padding: 0 0.5rem;
}

.preview {
    background: rgba(214, 214, 214, 0.4);
}

.preview > div {
    z-index: 1 !important;
}

.preview > div p {
    line-height: 1.75;
    font-size: 1.2rem;
}

.rounded-custom {
    border-radius: 12px !important;
}

.MuiChip-label {
    font-size: 1rem;
}

.MuiButton-label {
    color: white;
}

.MuiIconButton-root {
    outline: none !important;
    margin-left: 0.25rem !important;
}

@media (min-width: 992px) {
    .right-side {
        max-height: 100vh;
        overflow-y: auto;
    }
}

@media (max-width: 992px) {
    .card-size {
        width: 80vw !important;
        max-width: 80vw !important;
    }

    .left-side {
        height: 120vh !important;
    }

    .w-md-100 {
        width: 100% !important;
    }
}

@media (max-width: 576px) {
    .btn-visit {
        width: 100%;
    }
}

/* Github language colors  */
.ABAP {
    color: #e8274b;
    stroke: #e8274b;
    fill: #e8274b;
}

.ActionScript {
    color: #882b0f;
    stroke: #882b0f;
    fill: #882b0f;
}

.Ada {
    color: #02f88c;
    stroke: #02f88c;
    fill: #02f88c;
}

.Agda {
    color: #315665;
    stroke: #315665;
    fill: #315665;
}

.AGS-Script {
    color: #b9d9ff;
    stroke: #b9d9ff;
    fill: #b9d9ff;
}

.Alloy {
    color: #64c800;
    stroke: #64c800;
    fill: #64c800;
}

.AMPL {
    color: #e6efbb;
    stroke: #e6efbb;
    fill: #e6efbb;
}

.ANTLR {
    color: #9dc3ff;
    stroke: #9dc3ff;
    fill: #9dc3ff;
}

.API-Blueprint {
    color: #2acca8;
    stroke: #2acca8;
    fill: #2acca8;
}

.APL {
    color: #5a8164;
    stroke: #5a8164;
    fill: #5a8164;
}

.Arc {
    color: #aa2afe;
    stroke: #aa2afe;
    fill: #aa2afe;
}

.Arduino {
    color: #bd79d1;
    stroke: #bd79d1;
    fill: #bd79d1;
}

.ASP {
    color: #6a40fd;
    stroke: #6a40fd;
    fill: #6a40fd;
}

.AspectJ {
    color: #a957b0;
    stroke: #a957b0;
    fill: #a957b0;
}

.Assembly {
    color: #6e4c13;
    stroke: #6e4c13;
    fill: #6e4c13;
}

.ATS {
    color: #1ac620;
    stroke: #1ac620;
    fill: #1ac620;
}

.AutoHotkey {
    color: #6594b9;
    stroke: #6594b9;
    fill: #6594b9;
}

.AutoIt {
    color: #1c3552;
    stroke: #1c3552;
    fill: #1c3552;
}

.BlitzMax {
    color: #cd6400;
    stroke: #cd6400;
    fill: #cd6400;
}

.Boo {
    color: #d4bec1;
    stroke: #d4bec1;
    fill: #d4bec1;
}

.Brainfuck {
    color: #2f2530;
    stroke: #2f2530;
    fill: #2f2530;
}

.C-Sharp {
    color: #178600;
    stroke: #178600;
    fill: #178600;
}

.C {
    color: #555555;
    stroke: #555555;
    fill: #555555;
}

.Chapel {
    color: #8dc63f;
    stroke: #8dc63f;
    fill: #8dc63f;
}

.Cirru {
    color: #ccccff;
    stroke: #ccccff;
    fill: #ccccff;
}

.Clarion {
    color: #db901e;
    stroke: #db901e;
    fill: #db901e;
}

.Clean {
    color: #3f85af;
    stroke: #3f85af;
    fill: #3f85af;
}

.Click {
    color: #e4e6f3;
    stroke: #e4e6f3;
    fill: #e4e6f3;
}

.Clojure {
    color: #db5855;
    stroke: #db5855;
    fill: #db5855;
}

.CoffeeScript {
    color: #244776;
    stroke: #244776;
    fill: #244776;
}

.ColdFusion-CFC {
    color: #ed2cd6;
    stroke: #ed2cd6;
    fill: #ed2cd6;
}

.ColdFusion {
    color: #ed2cd6;
    stroke: #ed2cd6;
    fill: #ed2cd6;
}

.Common-Lisp {
    color: #3fb68b;
    stroke: #3fb68b;
    fill: #3fb68b;
}

.Component-Pascal {
    color: #b0ce4e;
    stroke: #b0ce4e;
    fill: #b0ce4e;
}

.cpp {
    color: #f34b7d;
    stroke: #f34b7d;
    fill: #f34b7d;
}

.Crystal {
    color: #776791;
    stroke: #776791;
    fill: #776791;
}

.CSS {
    color: #563d7c;
    stroke: #563d7c;
    fill: #563d7c;
}

.D {
    color: #ba595e;
    stroke: #ba595e;
    fill: #ba595e;
}

.Dart {
    color: #00b4ab;
    stroke: #00b4ab;
    fill: #00b4ab;
}

.Diff {
    color: #88dddd;
    stroke: #88dddd;
    fill: #88dddd;
}

.DM {
    color: #447265;
    stroke: #447265;
    fill: #447265;
}

.Dogescript {
    color: #cca760;
    stroke: #cca760;
    fill: #cca760;
}

.Dylan {
    color: #6c616e;
    stroke: #6c616e;
    fill: #6c616e;
}

.E {
    color: #ccce35;
    stroke: #ccce35;
    fill: #ccce35;
}

.Eagle {
    color: #814c05;
    stroke: #814c05;
    fill: #814c05;
}

.eC {
    color: #913960;
    stroke: #913960;
    fill: #913960;
}

.ECL {
    color: #8a1267;
    stroke: #8a1267;
    fill: #8a1267;
}

.edn {
    color: #db5855;
    stroke: #db5855;
    fill: #db5855;
}

.Eiffel {
    color: #946d57;
    stroke: #946d57;
    fill: #946d57;
}

.Elixir {
    color: #6e4a7e;
    stroke: #6e4a7e;
    fill: #6e4a7e;
}

.Elm {
    color: #60b5cc;
    stroke: #60b5cc;
    fill: #60b5cc;
}

.Emacs-Lisp {
    color: #c065db;
    stroke: #c065db;
    fill: #c065db;
}

.EmberScript {
    color: #fff4f3;
    stroke: #fff4f3;
    fill: #fff4f3;
}

.Erlang {
    color: #b83998;
    stroke: #b83998;
    fill: #b83998;
}

.F-Sharp {
    color: #b845fc;
    stroke: #b845fc;
    fill: #b845fc;
}

.Factor {
    color: #636746;
    stroke: #636746;
    fill: #636746;
}

.Fancy {
    color: #7b9db4;
    stroke: #7b9db4;
    fill: #7b9db4;
}

.Fantom {
    color: #dbded5;
    stroke: #dbded5;
    fill: #dbded5;
}

.FLUX {
    color: #88ccff;
    stroke: #88ccff;
    fill: #88ccff;
}

.Forth {
    color: #341708;
    stroke: #341708;
    fill: #341708;
}

.FORTRAN {
    color: #4d41b1;
    stroke: #4d41b1;
    fill: #4d41b1;
}

.FreeMarker {
    color: #0050b2;
    stroke: #0050b2;
    fill: #0050b2;
}

.Frege {
    color: #00cafe;
    stroke: #00cafe;
    fill: #00cafe;
}

.Game-Maker-Language {
    color: #8fb200;
    stroke: #8fb200;
    fill: #8fb200;
}

.Glyph {
    color: #e4cc98;
    stroke: #e4cc98;
    fill: #e4cc98;
}

.Gnuplot {
    color: #f0a9f0;
    stroke: #f0a9f0;
    fill: #f0a9f0;
}

.Go {
    color: #375eab;
    stroke: #375eab;
    fill: #375eab;
}

.Golo {
    color: #88562a;
    stroke: #88562a;
    fill: #88562a;
}

.Gosu {
    color: #82937f;
    stroke: #82937f;
    fill: #82937f;
}

.Grammatical-Framework {
    color: #79aa7a;
    stroke: #79aa7a;
    fill: #79aa7a;
}

.Groovy {
    color: #e69f56;
    stroke: #e69f56;
    fill: #e69f56;
}

.Handlebars {
    color: #01a9d6;
    stroke: #01a9d6;
    fill: #01a9d6;
}

.Harbour {
    color: #0e60e3;
    stroke: #0e60e3;
    fill: #0e60e3;
}

.Haskell {
    color: #29b544;
    stroke: #29b544;
    fill: #29b544;
}

.Haxe {
    color: #df7900;
    stroke: #df7900;
    fill: #df7900;
}

.HTML {
    color: #e44b23;
    stroke: #e44b23;
    fill: #e44b23;
}

.Hy {
    color: #7790b2;
    stroke: #7790b2;
    fill: #7790b2;
}

.IDL {
    color: #a3522f;
    stroke: #a3522f;
    fill: #a3522f;
}

.Io {
    color: #a9188d;
    stroke: #a9188d;
    fill: #a9188d;
}

.Ioke {
    color: #078193;
    stroke: #078193;
    fill: #078193;
}

.Isabelle {
    color: #fefe00;
    stroke: #fefe00;
    fill: #fefe00;
}

.J {
    color: #9eedff;
    stroke: #9eedff;
    fill: #9eedff;
}

.Java {
    color: #b07219;
    stroke: #b07219;
    fill: #b07219;
}

.JavaScript {
    color: #f1e05a;
    stroke: #f1e05a;
    fill: #f1e05a;
}

.JFlex {
    color: #dbca00;
    stroke: #dbca00;
    fill: #dbca00;
}

.JSONiq {
    color: #40d47e;
    stroke: #40d47e;
    fill: #40d47e;
}

.Julia {
    color: #a270ba;
    stroke: #a270ba;
    fill: #a270ba;
}

.Jupyter-Notebook {
    color: #da5b0b;
    stroke: #da5b0b;
    fill: #da5b0b;
}

.Kotlin {
    color: #f18e33;
    stroke: #f18e33;
    fill: #f18e33;
}

.KRL {
    color: #28431f;
    stroke: #28431f;
    fill: #28431f;
}

.Lasso {
    color: #999999;
    stroke: #999999;
    fill: #999999;
}

.Latte {
    color: #a8ff97;
    stroke: #a8ff97;
    fill: #a8ff97;
}

.Lex {
    color: #dbca00;
    stroke: #dbca00;
    fill: #dbca00;
}

.LFE {
    color: #004200;
    stroke: #004200;
    fill: #004200;
}

.LiveScript {
    color: #499886;
    stroke: #499886;
    fill: #499886;
}

.LOLCODE {
    color: #cc9900;
    stroke: #cc9900;
    fill: #cc9900;
}

.LookML {
    color: #652b81;
    stroke: #652b81;
    fill: #652b81;
}

.LSL {
    color: #3d9970;
    stroke: #3d9970;
    fill: #3d9970;
}

.Lua {
    color: #000080;
    stroke: #000080;
    fill: #000080;
}

.Makefile {
    color: #427819;
    stroke: #427819;
    fill: #427819;
}

.Mask {
    color: #f97732;
    stroke: #f97732;
    fill: #f97732;
}

.Matlab {
    color: #bb92ac;
    stroke: #bb92ac;
    fill: #bb92ac;
}

.Max {
    color: #c4a79c;
    stroke: #c4a79c;
    fill: #c4a79c;
}

.MAXScript {
    color: #00a6a6;
    stroke: #00a6a6;
    fill: #00a6a6;
}

.Mercury {
    color: #ff2b2b;
    stroke: #ff2b2b;
    fill: #ff2b2b;
}

.Metal {
    color: #8f14e9;
    stroke: #8f14e9;
    fill: #8f14e9;
}

.Mirah {
    color: #c7a938;
    stroke: #c7a938;
    fill: #c7a938;
}

.MTML {
    color: #b7e1f4;
    stroke: #b7e1f4;
    fill: #b7e1f4;
}

.NCL {
    color: #28431f;
    stroke: #28431f;
    fill: #28431f;
}

.Nemerle {
    color: #3d3c6e;
    stroke: #3d3c6e;
    fill: #3d3c6e;
}

.nesC {
    color: #94b0c7;
    stroke: #94b0c7;
    fill: #94b0c7;
}

.NetLinx {
    color: #0aa0ff;
    stroke: #0aa0ff;
    fill: #0aa0ff;
}

.NetLinx-ERB {
    color: #747faa;
    stroke: #747faa;
    fill: #747faa;
}

.NetLogo {
    color: #ff6375;
    stroke: #ff6375;
    fill: #ff6375;
}

.NewLisp {
    color: #87aed7;
    stroke: #87aed7;
    fill: #87aed7;
}

.Nimrod {
    color: #37775b;
    stroke: #37775b;
    fill: #37775b;
}

.Nit {
    color: #009917;
    stroke: #009917;
    fill: #009917;
}

.Nix {
    color: #7e7eff;
    stroke: #7e7eff;
    fill: #7e7eff;
}

.Nu {
    color: #c9df40;
    stroke: #c9df40;
    fill: #c9df40;
}

.Objective-C {
    color: #438eff;
    stroke: #438eff;
    fill: #438eff;
}

.Objective-Cpp {
    color: #6866fb;
    stroke: #6866fb;
    fill: #6866fb;
}

.Objective-J {
    color: #ff0c5a;
    stroke: #ff0c5a;
    fill: #ff0c5a;
}

.OCaml {
    color: #3be133;
    stroke: #3be133;
    fill: #3be133;
}

.Omgrofl {
    color: #cabbff;
    stroke: #cabbff;
    fill: #cabbff;
}

.ooc {
    color: #b0b77e;
    stroke: #b0b77e;
    fill: #b0b77e;
}

.Opal {
    color: #f7ede0;
    stroke: #f7ede0;
    fill: #f7ede0;
}

.Oxygene {
    color: #cdd0e3;
    stroke: #cdd0e3;
    fill: #cdd0e3;
}

.Oz {
    color: #fab738;
    stroke: #fab738;
    fill: #fab738;
}

.Pan {
    color: #cc0000;
    stroke: #cc0000;
    fill: #cc0000;
}

.Papyrus {
    color: #6600cc;
    stroke: #6600cc;
    fill: #6600cc;
}

.Parrot {
    color: #f3ca0a;
    stroke: #f3ca0a;
    fill: #f3ca0a;
}

.Pascal {
    color: #b0ce4e;
    stroke: #b0ce4e;
    fill: #b0ce4e;
}

.PAWN {
    color: #dbb284;
    stroke: #dbb284;
    fill: #dbb284;
}

.Perl {
    color: #0298c3;
    stroke: #0298c3;
    fill: #0298c3;
}

.Perl6 {
    color: #0000fb;
    stroke: #0000fb;
    fill: #0000fb;
}

.PHP {
    color: #4f5d95;
    stroke: #4f5d95;
    fill: #4f5d95;
}

.PigLatin {
    color: #fcd7de;
    stroke: #fcd7de;
    fill: #fcd7de;
}

.Pike {
    color: #005390;
    stroke: #005390;
    fill: #005390;
}

.PLSQL {
    color: #dad8d8;
    stroke: #dad8d8;
    fill: #dad8d8;
}

.PogoScript {
    color: #d80074;
    stroke: #d80074;
    fill: #d80074;
}

.Processing {
    color: #0096d8;
    stroke: #0096d8;
    fill: #0096d8;
}

.Prolog {
    color: #74283c;
    stroke: #74283c;
    fill: #74283c;
}

.Propeller-Spin {
    color: #7fa2a7;
    stroke: #7fa2a7;
    fill: #7fa2a7;
}

.Puppet {
    color: #302b6d;
    stroke: #302b6d;
    fill: #302b6d;
}

.Pure Data {
    color: #91de79;
    stroke: #91de79;
    fill: #91de79;
}

.PureBasic {
    color: #5a6986;
    stroke: #5a6986;
    fill: #5a6986;
}

.PureScript {
    color: #1d222d;
    stroke: #1d222d;
    fill: #1d222d;
}

.Python {
    color: #3572a5;
    stroke: #3572a5;
    fill: #3572a5;
}

.QML {
    color: #44a51c;
    stroke: #44a51c;
    fill: #44a51c;
}

.R {
    color: #198ce7;
    stroke: #198ce7;
    fill: #198ce7;
}

.Racket {
    color: #22228f;
    stroke: #22228f;
    fill: #22228f;
}

.Ragel-in-Ruby-Host {
    color: #9d5200;
    stroke: #9d5200;
    fill: #9d5200;
}

.RAML {
    color: #77d9fb;
    stroke: #77d9fb;
    fill: #77d9fb;
}

.Rebol {
    color: #358a5b;
    stroke: #358a5b;
    fill: #358a5b;
}

.Red {
    color: #ee0000;
    stroke: #ee0000;
    fill: #ee0000;
}

.Ren-Py {
    color: #ff7f7f;
    stroke: #ff7f7f;
    fill: #ff7f7f;
}

.Rouge {
    color: #cc0088;
    stroke: #cc0088;
    fill: #cc0088;
}

.Ruby {
    color: #701516;
    stroke: #701516;
    fill: #701516;
}

.Rust {
    color: #dea584;
    stroke: #dea584;
    fill: #dea584;
}

.SaltStack {
    color: #646464;
    stroke: #646464;
    fill: #646464;
}

.SAS {
    color: #b34936;
    stroke: #b34936;
    fill: #b34936;
}

.Scala {
    color: #dc322f;
    stroke: #dc322f;
    fill: #dc322f;
}

.Scheme {
    color: #1e4aec;
    stroke: #1e4aec;
    fill: #1e4aec;
}

.Self {
    color: #0579aa;
    stroke: #0579aa;
    fill: #0579aa;
}

.Shell {
    color: #89e051;
    stroke: #89e051;
    fill: #89e051;
}

.Shen {
    color: #120f14;
    stroke: #120f14;
    fill: #120f14;
}

.Slash {
    color: #007eff;
    stroke: #007eff;
    fill: #007eff;
}

.Slim {
    color: #ff8f77;
    stroke: #ff8f77;
    fill: #ff8f77;
}

.Smalltalk {
    color: #596706;
    stroke: #596706;
    fill: #596706;
}

.SourcePawn {
    color: #5c7611;
    stroke: #5c7611;
    fill: #5c7611;
}

.SQF {
    color: #3f3f3f;
    stroke: #3f3f3f;
    fill: #3f3f3f;
}

.Squirrel {
    color: #800000;
    stroke: #800000;
    fill: #800000;
}

.Stan {
    color: #b2011d;
    stroke: #b2011d;
    fill: #b2011d;
}

.Standard-ML {
    color: #dc566d;
    stroke: #dc566d;
    fill: #dc566d;
}

.SuperCollider {
    color: #46390b;
    stroke: #46390b;
    fill: #46390b;
}

.Swift {
    color: #ffac45;
    stroke: #ffac45;
    fill: #ffac45;
}

.SystemVerilog {
    color: #dae1c2;
    stroke: #dae1c2;
    fill: #dae1c2;
}

.Tcl {
    color: #e4cc98;
    stroke: #e4cc98;
    fill: #e4cc98;
}

.TeX {
    color: #3d6117;
    stroke: #3d6117;
    fill: #3d6117;
}

.Turing {
    color: #45f715;
    stroke: #45f715;
    fill: #45f715;
}

.TypeScript {
    color: #2b7489;
    stroke: #2b7489;
    fill: #2b7489;
}

.Unified-Parallel-C {
    color: #4e3617;
    stroke: #4e3617;
    fill: #4e3617;
}

.Unity3D-Asset {
    color: #ab69a1;
    stroke: #ab69a1;
    fill: #ab69a1;
}

.UnrealScript {
    color: #a54c4d;
    stroke: #a54c4d;
    fill: #a54c4d;
}

.Vala {
    color: #fbe5cd;
    stroke: #fbe5cd;
    fill: #fbe5cd;
}

.Verilog {
    color: #b2b7f8;
    stroke: #b2b7f8;
    fill: #b2b7f8;
}

.VHDL {
    color: #adb2cb;
    stroke: #adb2cb;
    fill: #adb2cb;
}

.VimL {
    color: #199f4b;
    stroke: #199f4b;
    fill: #199f4b;
}

.Visual-Basic {
    color: #945db7;
    stroke: #945db7;
    fill: #945db7;
}

.Volt {
    color: #1f1f1f;
    stroke: #1f1f1f;
    fill: #1f1f1f;
}

.Vue {
    color: #2c3e50;
    stroke: #2c3e50;
    fill: #2c3e50;
}

.Web-Ontology-Language {
    color: #9cc9dd;
    stroke: #9cc9dd;
    fill: #9cc9dd;
}

.wisp {
    color: #7582d1;
    stroke: #7582d1;
    fill: #7582d1;
}

.X10 {
    color: #4b6bef;
    stroke: #4b6bef;
    fill: #4b6bef;
}

.xBase {
    color: #403a40;
    stroke: #403a40;
    fill: #403a40;
}

.XC {
    color: #99da07;
    stroke: #99da07;
    fill: #99da07;
}

.XQuery {
    color: #5232e7;
    stroke: #5232e7;
    fill: #5232e7;
}

.Zephir {
    color: #118f9e;
    stroke: #118f9e;
    fill: #118f9e;
}

.Dockerfile {
    color: #384d54;
    stroke: #384d54;
    fill: #384d54;
}
